<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Hero</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      <label>Team Name:<input type="text" name="team[name]"></label>
      <label>Team Motto:<input type="text" name="team[motto]"></label>

      <h2>Hero 1</h2>
      <label>Hero's Name:<input type="text" name="team[heroes][][name]"></label>
      <label>Hero's Power:<input type="text" name="team[heroes][][power]"></label>
      <label>Hero's Biography:<input type="text" name="team[heroes][][bio]"></label>

      <h2>Hero 2</h2>
      <label>Hero's Name:<input type="text" name="team[heroes][][name]"></label>
      <label>Hero's Power:<input type="text" name="team[heroes][][power]"></label>
      <label>Hero's Biography:<input type="text" name="team[heroes][][bio]"></label>

      <h2>Hero 3</h2>
      <label>Hero's Name:<input type="text" name="team[heroes][][name]"></label>
      <label>Hero's Power:<input type="text" name="team[heroes][][power]"></label>
      <label>Hero's Biography:<input type="text" name="team[heroes][][bio]"></label>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
